/****************************************************************************
*****************************************************************************
00 Includes
*****************************************************************************
****************************************************************************/

/*---------------------------------------------------------------------------
00-00 Framework
---------------------------------------------------------------------------*/
@import url("css/framework/frm-00-normalize.css");
@import url("css/framework/frm-01-wordpress-and-gutenberg-block-reset.css");
@import url("css/framework/frm-02-helper_classes.css");
@import url("css/framework/frm-03a-gss_and_flex_grid_helpers.css");
@import url("css/framework/frm-03b-absolut_positioning_helpers.css");
@import url("css/framework/frm-04-components.css");
@import url("css/framework/frm-07-plugins-stickysidebar.css");
@import url("css/framework/frm-07-plugins-swiper.css");

/*---------------------------------------------------------------------------
00-01 Theme Specific
---------------------------------------------------------------------------*/
@font-face {
    font-family: 'lolapeluzablack';
    src: url('assets/fonts/lolapeluza-black-webfont.woff2') format('woff2'),
         url('assets/fonts/lolapeluza-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelasblack';
    src: url('assets/fonts/qanelasblack-webfont.woff2') format('woff2'),
         url('assets/fonts/qanelasblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'qanelasregular';
    src: url('assets/fonts/qanelasregular-webfont.woff2') format('woff2'),
         url('assets/fonts/qanelasregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
