/* Swiper Stock Elements
-----------------------------------------------*/

/* Navigation Buttons */
.swiper-button-prev { left: var(--sp-rim); }
.swiper-button-next { right: var(--sp-rim); }
.swiper-button-next:after, .swiper-button-prev:after { color: var(--clr-1); color: var(--brand-clr-primary); }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { opacity: 1.0; }
.swiper-button-next.swiper-button-disabled:after, .swiper-button-prev.swiper-button-disabled:after { color: var(--clr-3-dark-op); }

/* Navigation Bullets */
.swiper-pagination-bullet { width: 14px; height: 14px; border-radius: 100%; background: var(--clr-2); opacity: 1; }
.swiper-pagination-bullet-active { opacity: 1; background: var(--clr-1); }
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction { bottom: -10px;}

/* Navigation Scrollbar */
.swiper-scrollbar { background: var(--clr-3-dark-op);     height: 7px; }
.swiper-scrollbar-drag { height: calc(100% + 2px); width: 100%; position: relative; background: var(--clr-1); background: var(--brand-clr-primary); border-radius: 10px; top: -1px; }

/* Swiper Helpers
-----------------------------------------------*/
/* Show Hiddent slides  */
.swiper_overflow { overflow:visible !important; }

/* fix Shadow Cutoff */
.hidden_shadow_fixer { padding: 0 1rem; margin-left: -1rem ; margin-right: -1rem ; overflow: hidden; }
.hidden_shadow_fixer > :first-child { overflow: visible; }

/* Swiper Slider Center Vertically */
.swiper-slide-flex-vert { display: flex; justify-content: center; flex-direction: column; height: unset !important; }

/* Bottom Navigation */
.swiper_bottom_nav { width:100%; position: relative; height: calc( var(--swiper-navigation-size) + 1rem ); display: flex; justify-content: center; flex-direction: column; }
.swiper_bottom_nav-scrollbar { width: 80% ; display: block; margin: 0 auto; }
.swiper_bottom_nav-scrollbar .swiper-scrollbar.swiper-scrollbar-horizontal { position:relative; }
    /* Large and up */
    @media screen and (min-width: 700px) {
        .swiper_bottom_nav-scrollbar { width: 85%; }
    }

/* Slide Link */
.slide-link { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); height: 100%; }
    /* Small only */
    @media screen and (max-width: 1023px) {
        .slide-link { width: 75%; }
    }
    /* Large and up */
    @media screen and (min-width: 1024px) {
        .slide-link { width: 85%; }
    }

/* Swiper custom class for set height */
.swiper-set-height .swiper-wrapper .swiper-slide { height: 60vh; }
.swiper-set-height .swiper-wrapper .swiper-slide.img-cover picture { height: unset; } 
.swiper-set-height .swiper-wrapper .swiper-slide .slide-content-wrapper { /*padding: var(--sp-base); */ }
     /* Laptop Med  */
    @media screen and (min-width: 1024px) and (max-width: 1299px) {
        .swiper-set-height .swiper-wrapper .swiper-slide { height: 50vh; }
    }
    /* Large and up */
    @media screen and (min-width: 1300px) {
        .swiper-set-height .swiper-wrapper .swiper-slide { height: 70vh; }
    }

/* Swiper Card Slider
-----------------------------------------------*/
.card_swiper-slide { background-color: var(--clr-white); border-radius: var(--border-radius); overflow: hidden; box-shadow: var(--shadowbox); }
.card_swiper-slide p { font-weight: 700; text-align: center; margin: 0; }
.card_swiper-slide img { border-radius: var(--border-radius); overflow: hidden;}
