/*---------------------------------------------------------------------------
Forms & Buttons
---------------------------------------------------------------------------*/

/* Button Styling
------------------------------------------*/
:root { --button_brdr: 3px; }
    @media screen and (max-width: 700px) {
        :root { --button_brdr: 3px; }
    }


textarea, input, button { outline: none; }
.wp-block-buttons>.wp-block-button { display: inline-block; margin: 0 !important; }


/* Woo Base*/ .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
/* Woo Alt*/  .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
/* Gut */ a.wp-block-button__link,
/* Wpsl Search page */ #wpsl-search-btn,

.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="submit" i]

{   display: inline-block;
    vertical-align: middle;
    margin: 0 0 .7em 0;
    padding: .4em 1.2em;
    text-transform: uppercase !important;
    font-family: "Gotham A", "Gotham B", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: var(--clr-1);
    color: var(--clr-white) !important;
    border-radius: 9999px !important;
    border: var(--button_brdr) solid transparent !important;
    transition: all 350ms ease-in-out !important;;
}
/* Woo Base*/ .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
/* Woo Alt*/  .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
/* Gut */ a.wp-block-button__link:hover,
.button:hover,.button:focus,
button:hover,button:active, button:focus,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,


input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus  

{ background-color: var(--clr-1-dark) !important; opacity: 1; color: #fff !important; }

/* Solid Buttons */
.button.bkg-1, .wp-block-button__link.has-clr-1-background-color { color: var(--clr-white) !important; background-color: var(--clr-1) !important;  }
.button.bkg-1:hover, .wp-block-button__link.has-clr-1-background-color:hover, .button.bkg-1:focus, .wp-block-button__link.has-clr-1-background-color:focus { background-color: var(--clr-1-hover) !important;  }

.button.bkg-2, .wp-block-button__link.has-clr-2-background-color { color: var(--clr-white) !important; background-color: var(--clr-2) !important;  }
.button.bkg-2:hover, .wp-block-button__link.has-clr-2-background-color:hover, .button.bkg-2:focus, .wp-block-button__link.has-clr-2-background-color:focus { background-color: var(--clr-2-hover) !important;  }

.button.bkg-3, .wp-block-button__link.has-clr-3-background-color { color: var(--clr-white) !important; background-color: var(--clr-3) !important;  }
.button.bkg-3:hover, .wp-block-button__link.has-clr-3-background-color:hover, .button.bkg-3:focus, .wp-block-button__link.has-clr-3-background-color:focus { background-color: var(--clr-3-hover) !important;  }

.button.bkg-3, .wp-block-button__link.has-clr-3-background-color { color: var(--clr-white) !important; background-color: var(--clr-3) !important;  }
.button.bkg-4:hover, .wp-block-button__link.has-clr-4-background-color:hover, .button.bkg-4:focus, .wp-block-button__link.has-clr-4-background-color:focus { background-color: var(--clr-4-hover) !important;  }

#wpsl-search-btn,
.wpsl-search-widget input[type="submit" i], 
.button.bkg-white, .wp-block-button__link.has-white-background-color 
    { color: var(--clr-1) !important; background-color: var(--clr-white) !important;  }
#wpsl-search-btn:hover, #wpsl-search-btn:focus,    
.wpsl-search-widget input[type="submit" i]:hover, .wpsl-search-widget input[type="submit" i]:focus, 
.button.bkg-white:hover, .wp-block-button__link.has-white-background-color:hover, .button.bkg-white:focus, .wp-block-button__link.has-white-background-color:focus {
     color: var(--clr-white) !important; background-color: var(--clr-white-hover) !important;  }

.button.bkg-black, .wp-block-button__link.has-black-background-color 
    { color: var(--clr-white) !important; background-color: var(--clr-black) !important;  }
.button.bkg-black:hover,.wp-block-button__link.has-black-background-color:hover, .button.bkg-black:focus,.wp-block-button__link.has-black-background-color:focus 
{ background-color: var(--clr-black-hover) !important;  }

/* Hollow Buttons */
.button.hollow, .is-style-outline>.wp-block-button__link, .wp-block-button__link.is-style-outline { border: var(--button_brdr) solid !important; background-color: transparent !important}

.is-style-outline > .wp-block-button__link:not(.has-background), .wp-block-button__link.is-style-outline:not(.has-background),
.is-style-outline > .wp-block-button__link:not(.has-text-color), .wp-block-button__link.is-style-outline:not(.has-text-color),
.button.hollow, .is-style-outline > .wp-block-button__link, .wp-block-button__link.is-style-outline,
.button.bkg-1.hollow, .is-style-outline>.wp-block-button__link.has-clr-1-background-color, .wp-block-button__link.has-clr-1-background-color.is-style-outline 
    { color: var(--clr-1) !important; border-color: var(--clr-1) !important; background-color: transparent !important}
.button.bkg-1.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-1-background-color:hover, .wp-block-button__link.has-clr-1-background-color.is-style-outline:hover,
.button.bkg-1.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-1-background-color:focus, .wp-block-button__linkhas-clr-1-background-color.is-style-outline:focus
    { color: var(--clr-1-hover) !important; border-color: var(--clr-1-hover) !important; background-color: transparent !important}

.button.bkg-2.hollow, .is-style-outline>.wp-block-button__link.has-clr-2-background-color, .wp-block-button__link.has-clr-2-background-color.is-style-outline 
    { color: var(--clr-2) !important; border-color: var(--clr-2) !important; background-color: transparent !important}
.button.bkg-2.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-2-background-color:hover, .wp-block-button__link.has-clr-2-background-color.is-style-outline:hover,
.button.bkg-2.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-2-background-color:focus, .wp-block-button__linkhas-clr-2-background-color.is-style-outline:focus
    { color: var(--clr-2-hover) !important; border-color: var(--clr-2-hover) !important; background-color: transparent !important}

.button.bkg-3.hollow, .is-style-outline>.wp-block-button__link.has-clr-3-background-color, .wp-block-button__link.has-clr-3-background-color.is-style-outline 
    { color: var(--clr-3) !important; border-color: var(--clr-3) !important; background-color: transparent !important}
.button.bkg-3.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-3-background-color:hover, .wp-block-button__link.has-clr-3-background-color.is-style-outline:hover,
.button.bkg-3.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-3-background-color:focus, .wp-block-button__linkhas-clr-3-background-color.is-style-outline:focus
    { color: var(--clr-3-hover) !important; border-color: var(--clr-3-hover) !important; background-color: transparent !important}

.button.bkg-4.hollow, .is-style-outline>.wp-block-button__link.has-clr-4-background-color, .wp-block-button__link.has-clr-4-background-color.is-style-outline 
    { color: var(--clr-4) !important; border-color: var(--clr-4) !important; background-color: transparent !important}
.button.bkg-4.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-4-background-color:hover, .wp-block-button__link.has-clr-4-background-color.is-style-outline:hover,
.button.bkg-4.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-4-background-color:focus, .wp-block-button__linkhas-clr-4-background-color.is-style-outline:focus
    { color: var(--clr-4-hover) !important; border-color: var(--clr-4-hover) !important; background-color: transparent !important}

.button.bkg-white.hollow, .is-style-outline>.wp-block-button__link.has-white-background-color, .wp-block-button__link.has-white-background-color.is-style-outline 
    { color: var(--clr-white) !important; border-color: var(--clr-white) !important; background-color: transparent !important}
.button.bkg-white.hollow:hover, .is-style-outline>.wp-block-button__link.has-white-background-color:hover, .wp-block-button__link.has-white-background-color.is-style-outline:hover,
.button.bkg-white.hollow:focus, .is-style-outline>.wp-block-button__link.has-white-background-color:focus, .wp-block-button__linkhas-white-background-color.is-style-outline:focus
    { color: var(--clr-white-hover) !important; border-color: var(--clr-white-hover) !important; background-color: transparent !important}

.button.bkg-black.hollow, .is-style-outline>.wp-block-button__link.has-black-background-color, .wp-block-button__link.has-black-background-color.is-style-outline 
    { color: var(--clr-black) !important; border-color: var(--clr-black) !important; background-color: transparent !important}
.button.bkg-black.hollow:hover, .is-style-outline>.wp-block-button__link.has-black-background-color:hover, .wp-block-button__link.has-black-background-color.is-style-outline:hover,
.button.bkg-black.hollow:focus, .is-style-outline>.wp-block-button__link.has-black-background-color:focus, .wp-block-button__linkhas-black-background-color.is-style-outline:focus
    { color: var(--clr-black-hover) !important; border-color: var(--clr-black-hover) !important; background-color: transparent !important}

/* Button Woocommerce */
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: inherit; cursor: not-allowed; opacity: .5; padding: .618em 1em; padding: .4rem 1.8rem; font-size: 1rem; color: #fff; }

/* Button Sizing*/
.button.smallbtn, .wp-block-button.smallbtn .wp-block-button__link { font-size: 0.75rem; }
.button.largebtn, .wp-block-button.largebtn .wp-block-button__link { font-size: 2rem; }
.button.expanded, .wp-block-button.expanded, .wp-block-button.expanded .wp-block-button__link { display: block; width: 100%; margin-right: 0; margin-left: 0; }



/* Fields Styling
------------------------------------------*/
textarea { width: 100%; }

/* INPUT FIELD */
input[type="text"], input[type="email"], input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"], 
input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea
{ 
    width: 100%;
    height: auto;
    padding: 5px 10px !important;
    margin-bottom: 5px;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    color: var(--clr-1);
    background-color: #fff;
    border-bottom: 2px solid #7b7c8e;
    box-shadow: 0px 5px 15px rgba(214, 222, 228, 1);
    font-size: 19px !important;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}

form p { margin-bottom: 5px; font-size: 18px !important; color: #0a0a0a; }

/* FOCUS */
input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus 
{ 
    border: none;
    border-bottom: 3px solid var(--clr-1);
    background: #fff;
    -webkit-transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(197, 134, 188, 0.4);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}
select { border-radius: 2rem;   border: solid 2px var(--clr-1); }
select:focus { border-radius: 2rem;   border: solid 2px #62bb46; box-shadow: none; }
/* PLACEHOLDER */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */   font-family: "Gotham A", "Gotham B", sans-serif; font-style: normal; font-weight: 700; color: #7b7c8e; font-size: .825em; /*text-transform: uppercase; */}
::-moz-placeholder { /* Firefox 19+ */   font-family: "Gotham A", "Gotham B", sans-serif; font-style: normal; font-weight: 700; color: #7b7c8e; font-size: .825em/*text-transform: uppercase; */}
:-ms-input-placeholder { /* IE 10+ */   font-family: "Gotham A", "Gotham B", sans-serif; font-style: normal; font-weight: 700; color: #7b7c8e; font-size: .825em/*text-transform: uppercase; */}
:-moz-placeholder { /* Firefox 18- */   font-family: "Gotham A", "Gotham B", sans-serif; font-style: normal; font-weight: 700; color: #7b7c8e; font-size: .825em/*text-transform: uppercase; */}

/* CF7 Responses */
.wpcf7-response-output.wpcf7-validation-errors { color: #D8000C; background-color: #FFBABA; border: 0; padding: 10px; }
.wpcf7-response-output.wpcf7-mail-sent-ok { color: #4F8A10; background-color: #DFF2BF; border: 0; padding: 10px; }
div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before { font-family: "Font Awesome 5 Free"; font-weight: 900; margin-right: 16px; vertical-align: middle; }
div.wpcf7-mail-sent-ok:before, div.wpcf7-validation-errors:before {display: none;}
div.wpcf7-mail-sent-ok:before { content: "\f058"; }
div.wpcf7-validation-errors:before { content: "\f057"; }


      .login::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f007";
      }

      .tps::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f1ea";
      }

/* CSS pseudo-element styling */

/* general reset/setup styling for icons - needed on all */
.fa-icon::before {
  display: none; /* See https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements#with-svg-js */
}

/* defining the right font-family/font-face for each style */
.fa-solid::before,
.fa-regular::before,
.fa-light::before { font-family: "Font Awesome 5 Pro"; }

.fa-brand::before { font-family: "Font Awesome 5 Brands";}

/* defining the right weight for each style */
.fa-solid::before { font-weight: 900; }
.fa-regular::before { font-weight: 400; }
.fa-light::before { font-weight: 300; }
.fa-brand::before { font-weight: 400; }
/* defining the right unicode values for each fa */
.fa-award::before { content: "\f559"; }
.fa-adobe::before { content: "\f778"; }


/* FORM 2 over Color FORM 
------------------------------------------*/
/* INPUT FIELD */
.form-2 input[type="text"], .form-2 input[type="email"], .form-2 input[type="url"], .form-2 input[type="password"], .form-2 input[type="search"], .form-2 input[type="number"], .form-2 input[type="tel"], .form-2 input[type="range"], 
.form-2 input[type="date"], .form-2 input[type="month"], .form-2 input[type="week"], .form-2 input[type="time"],  .form-2 input[type="datetime"],  .form-2 input[type="datetime-local"],  .form-2 input[type="color"],  .form-2 textarea 
{ border-color: #fff;  color: #fff;background-color: transparent; box-shadow: 0px 5px 15px rgb(90, 1, 87);}
.form-2 form p { !important; color: #fff; }
/* FOCUS */
.form-2 input[type="text"]:focus, .form-2 input[type="email"]:focus, .form-2 input[type="url"]:focus, .form-2 input[type="password"]:focus, .form-2 input[type="search"]:focus, .form-2 input[type="number"]:focus,  .form-2 input[type="tel"]:focus,  .form-2 input[type="range"]:focus,  .form-2 input[type="date"]:focus,
.form-2 input[type="month"]:focus,  .form-2 input[type="week"]:focus,  .form-2 input[type="time"]:focus,  .form-2 input[type="datetime"]:focus,  .form-2 input[type="datetime-local"]:focus,  .form-2 input[type="color"]:focus,  .form-2 textarea:focus 
{ border-color: rgba(255, 255, 255, 0.7); }
/* PLACEHOLDER */
.form-2 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */   color: #fff;}
.form-2 ::-moz-placeholder { /* Firefox 19+ */   color: #fff;}
.form-2 :-ms-input-placeholder { /* IE 10+ */   color: #fff;}
.form-2 :-moz-placeholder { /* Firefox 18- */   color: #fff;}
/* FORM 2 BUTTON */
.form-2 input[type="button"], .form-2 input[type="reset"], .form-2 input[type="submit"] 
{ /*background-color: white; color: #1779ba !important;*/}
.form-2 input[type="button"]:hover, .form-2 input[type="reset"]:hover, .form-2 input[type="submit"]:hover, .form-2 input[type="button"]:focus, .form-2 input[type="reset"]:focus, .form-2 input[type="submit"]:focus 
{ background-color: rgba(255, 255, 255, 0.5); color: #fff !important; }
.form-2 label { color: #fff;}
/* CF7 */
/*.form-2 div.wpcf7-response-output { color: #fff; }*/
