/****************************************************************************
*****************************************************************************
04 Helpers & Grids
*****************************************************************************
****************************************************************************/

/*---------------------------------------------------------------------------
General Helpers
---------------------------------------------------------------------------*/

.bkg-img { background-repeat: no-repeat; background-size: cover; }
.clearfix:after {  content: " "; display: block;  height: 0;  clear: both; }
.h100 { height: 100%; }

/* ID link Gives Adds Space Above */
.id-link-fix:before {  display: block;  content: " ";  margin-top: -285px;  height: 285px;  visibility: hidden;  pointer-events: none; }

/* Position */
.relative, .relative-child > :first-child { position: relative; }

/* Overflow */
.overhid, .over-hidden { overflow: hidden; }

/* center child */
.flex-center-vertically, .flex-vert, .flex-vert-child > :first-child { display: flex; justify-content: center; flex-direction: column; height: 100%; }
.flex-hor, .flex-hor-child > :first-child { display: flex; justify-content: center;  }

/* Make Img Cover Using <div.img-cover><picture><img>...*/
.img-cover { position: relative; overflow: hidden; }
.img-cover picture { width: 100%; height: 100%; display: flex; }
.img-cover picture img { object-fit: cover; object-position: center center; }

/* Make Img Cover Using Picture Tag <div.img-cover.picture-cover><img>... */
.img-cover.picture-cover { /*width: 100%; height: 100%; */display: flex; z-index: 0; }
.img-cover.picture-cover  img { object-fit: cover; object-position: center center; }

/* Make Image Absolute and Cover with no specific height */
.img-cover.picture-absolute picture, .img-cover.img-absolute picture, .img-cover.img-absolute  img 
{ position: absolute; top: 0; width: 100%; height: 100%; z-index: -1; }

/* Creates overlay over position:relative parent. Forcess Full Height */
.box-over { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 2; }

/* Text Alignment Helpers */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

/* lists */
ol.no-bullet, ul.no-bullet { margin-left:0; list-style:none; }

/*---------------------------------------------------------------------------
Spacing Helpers
---------------------------------------------------------------------------*/

/* min-height */
.minvh100 { min-height: 100vh !important; }

.gcw-xl, .gcw-xl-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max-xl); }
.gcw, .gcw-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max); }
.gcw-m, .gcw-m-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max-m); }
.gcw-s, .gcw-s-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max-s); }
.gcw.fluid { width: 100%; max-width: 100% !important; }


/*---------------------------------------------------------------------------
Padding & Margin Helpers
---------------------------------------------------------------------------*/

/* Margin */
.mb-base { margin-bottom: var(--sp-base) !important; }
.mb-rim { margin-bottom: var(--sp-rim) !important; }
.mb-feat { margin-bottom: var(--sp-feat) !important; }
.mb-0 { margin-bottom: 0px !important; }
.mb0, .mb-0, .smb0 :last-child, .smb0-child > :first-child { margin-bottom: 0px !important; }

/* Padding */
.spv, .spv-child > :first-child { padding-top: var(--sp-base) !important; ; padding-bottom: var(--sp-base) !important; ; }
.spb, .spb-child > :first-child { padding-bottom: var(--sp-base) !important; ; }
.spt, .spt-child > :first-child { padding-top: var(--sp-base) !important; ; }
.sph, .sph-child > :first-child { padding-left: var(--sp-base); padding-right: var(--sp-base) !important; ; }
.smv, .smv-child > :first-child { margin-top: var(--sp-base) !important; ; padding-bottom: var(--sp-base) !important; ; }
.smb, .smb-child > :first-child { margin-bottom: var(--sp-base) !important; ; }
.smt, .smt-child > :first-child { margin-top: var(--sp-base) !important; ; }
.smh, .smh-child > :first-child { margin-left: var(--sp-base); padding-right: var(--sp-base) !important; ; }

/* Padding Rim */
.spv-rim, .spv-rim-child > :first-child { padding-top: var(--sp-rim) !important; ; padding-bottom: var(--sp-rim) !important; ; }
.spb-rim, .spb-rim-child > :first-child { padding-bottom: var(--sp-rim) !important; ; }
.spt-rim, .spt-rim-child > :first-child { padding-top: var(--sp-rim) !important; ; }
.sph-rim, .sph-rim-child > :first-child { padding-left: var(--sp-rim); padding-right: var(--sp-rim) !important; ; }
.smv-rim, .smv-rim-child > :first-child { margin-top: var(--sp-rim) !important; ; margin-bottom: var(--sp-rim) !important; ; }
.smb-rim, .smb-rim-child > :first-child { margin-bottom: var(--sp-rim) !important; ; }
.smt-rim, .smt-rim-child > :first-child { margin-top: var(--sp-rim) !important; ; }
.smh-rim, .smh-rim-child > :first-child { margin-left: var(--sp-rim); padding-right: var(--sp-rim) !important; ; }

/* Padding Feature */
.spv-feat, .spv-feat-child > :first-child { padding-top: var(--sp-feat) !important; ; padding-bottom: var(--sp-feat) !important; ; }
.spb-feat, .spb-feat-child > :first-child { padding-bottom: var(--sp-feat) !important; ; }
.spt-feat, .spt-feat-child > :first-child { padding-top: var(--sp-feat) !important; ; }
.sph-feat, .sph-feat-child > :first-child { padding-left: var(--sp-feat); padding-right: var(--sp-feat) !important; ; }
.smv-feat, .smv-feat-child > :first-child { margin-top: var(--sp-feat) !important; ; padding-bottom: var(--sp-feat) !important; ; }
.smb-feat, .smb-feat-child > :first-child { margin-bottom: var(--sp-feat) !important; ; }
.smt-feat, .smt-feat-child > :first-child { margin-top: var(--sp-feat) !important; ; }
.smh-feat, .smh-feat-child > :first-child { margin-left: var(--sp-feat); padding-right: var(--sp-feat) !important; ; }


/* Padding Edge i.e. only on screen near container width or less */
@media screen and (max-width: 1650px) {
    .sph-edge, .sph-edge-child > :first-child { padding-left: var(--sp-base); padding-right: var(--sp-base) !important; }
    .sph-rim-edge, .sph-rim-edge-child > :first-child  { padding-left: var(--sp-rim); padding-right: var(--sp-rim) !important; }
    .sph-feat-edge, .sph-feat-edge-child > :first-child   { padding-left: var(--sp-feat); padding-right: var(--sp-feat) !important; }
}

/* Children Padding & Margin For Css Grids*/
.cp > div, .cp > article { padding: var(--sp-base) }
.cpr > div, .cpr > article { padding: var(--sp-rim) }
.cpf > div, .cpf > article { padding: var(--sp-feat) }
.csmb0 > div :last-child, .csmb0 > article :last-child { margin-bottom: 0px !important; }

/* Pull top */
.pull-top-feat { position: relative; margin-top: calc(var(--sp-feat) * -1); z-index: 1; }
.pull-top-feat15 { position: relative; margin-top: calc(var(--sp-feat) * -1.5); z-index: 1; }
.pull-top-feat2 { position: relative; margin-top: calc(var(--sp-feat) * -1.5); z-index: 1; }

/*---------------------------------------------------------------------------
Absolute Positioning Helpers
---------------------------------------------------------------------------*/

:root {
    --gcw-max-xl-half: calc( var(--gcw-max-xl) * .5 ); 
    --gcw-max-half: calc( var(--gcw-max) * .5 ); 
    --gcw-max-m-half: calc( var(--gcw-max-m) * .5 ); 
    --gcw-max-s-half: calc( var(--gcw-max-s) * .5 ); 
    --abs-edge_factor: -1.2;
}


*[class*="abs--"] { position: absolute; z-index: 5; }
.abs--rt-gcw-edge, .abs--rt-gcw-plus-edge, .abs--rt-gcw-s-edge, .abs--rt-gcw-s-plus-edge, .abs--rt-gcw-m-edge, .abs--rt-gcw-m-plus-edge,
.abs--rb-gcw-edge, .abs--rb-gcw-plus-edge, .abs--rb-gcw-s-edge, .abs--rb-gcw-s-plus-edge, .abs--rb-gcw-m-edge, .abs--rb-gcw-m-plus-edge,
.abs--lt-gcw-edge, .abs--lt-gcw-plus-edge, .abs--lt-gcw-s-edge, .abs--lt-gcw-s-plus-edge, .abs--lt-gcw-m-edge, .abs--lt-gcw-m-plus-edge,
.abs--lb-gcw-edge, .abs--lb-gcw-plus-edge, .abs--lb-gcw-s-edge, .abs--lb-gcw-s-plus-edge, .abs--lb-gcw-m-edge, .abs--lb-gcw-m-plus-edge { position: absolute; z-index: 15; }

/* Right Top */
.abs--rt                    { top:0;                                                    bottom: auto;       left:auto;      right: 0; }
.abs--rt-gcw                { top:0;                                                    bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-half) );       transform: translate(100%, 0); }
.abs--rt-gcw-s              { top:0;                                                    bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-s-half) );     transform: translate(100%, 0); }
.abs--rt-gcw-m              { top:0;                                                    bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-m-half) );     transform: translate(100%, 0); }

.abs--rt-edge               { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;       left:auto;      right: 0; }
.abs--rt-gcw-edge           { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-half) );       transform: translate(100%, 0); }
.abs--rt-gcw-s-edge         { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-s-half) );     transform: translate(100%, 0); }
.abs--rt-gcw-m-edge         { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-m-half) );     transform: translate(100%, 0); }

/* Right Center */
.abs--rc                    { top:50%;      bottom: auto;       left:auto;      right: 0;                                       transform: translateY(-50%); }
.abs--rc-gcw                { top:50%;      bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-half) );       transform: translate(100%,  -50%); }
.abs--rc-gcw-s              { top:50%;      bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-s-half) );     transform: translate(100%,  -50%); }
.abs--rc-gcw-m              { top:50%;      bottom: auto;       left:auto;      right: calc( 50% - var(--gcw-max-m-half) );     transform: translate(100%,  -50%); }
 
/* Right Bottom */
.abs--rb                    { top: auto;    bottom: 0;      left:auto;      right: 0; }
.abs--rb-gcw                { top: auto;    bottom: 0;      left:auto;      right: calc( 50% - var(--gcw-max-half) );       transform: translate(100%, 0); }
.abs--rb-gcw-s              { top: auto;    bottom: 0;      left:auto;      right: calc( 50% - var(--gcw-max-s-half) );     transform: translate(100%, 0); }
.abs--rb-gcw-m              { top: auto;    bottom: 0;      left:auto;      right: calc( 50% - var(--gcw-max-m-half) );     transform: translate(100%, 0); }
    
.abs--rb-edge               { top: auto;    bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );    left:auto;      right: 0; }
.abs--rb-gcw-edge           { top: auto;    bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );    left:auto;      right: calc( 50% - var(--gcw-max-half) ); transform: translate(100%, 0); }
.abs--rb-gcw-s-edge         { top: auto;    bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );    left:auto;      right: calc( 50% - var(--gcw-max-s-half) ); transform: translate(100%, 0); }
.abs--rb-gcw-m-edge         { top: auto;    bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );    left:auto;      right: calc( 50% - var(--gcw-max-m-half) ); transform: translate(100%, 0); }

/* Left Top */
.abs--lt                    { top:0;                                                    bottom: auto;   right:auto;     left: 0; }
.abs--lt-gcw                { top:0;                                                    bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-half) ); transform: translate(-100%, 0); }
.abs--lt-gcw-s              { top:0;                                                    bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-s-half) ); transform: translate(-100%, 0); }
.abs--lt-gcw-m              { top:0;                                                    bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-m-half) ); transform: translate(-100%, 0); }

.abs--lt-edge               { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;   right:auto;     left: 0; }
.abs--lt-gcw-edge           { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-half) ); transform: translate(-100%, 0); }
.abs--lt-gcw-s-edge         { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-s-half) ); transform: translate(-100%, 0); }
.abs--lt-gcw-m-edge         { top: calc( var(--sp-feat) * var(--abs-edge_factor) );     bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-m-half) ); transform: translate(-100%, 0); }

 
/* Left Center */
.abs--lc                    { top:50%;              bottom: auto;   right:auto;     left: 0;                                        transform: translateY(-50%); }
.abs--lc-gcw                { top:50%;              bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-half) );        transform: translate(-100%,  -50%); }
.abs--lc-gcw-s              { top:50%;              bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-s-half) );      transform: translate(-100%,  -50%); }
.abs--lc-gcw-m              { top:50%;              bottom: auto;   right:auto;     left: calc( 50% - var(--gcw-max-m-half) );      transform: translate(-100%,  -50%); }
 
/* Left Bottom */
.abs--lb                    { top:auto;     bottom: 0;                                                      right:auto;     left: 0; }
.abs--lb-gcw                { top:auto;     bottom: 0;                                                      right:auto;     left: calc( 50% - var(--gcw-max-half) ); transform: translate(-100%, 0); }
.abs--lb-gcw-s              { top:auto;     bottom: 0;                                                      right:auto;     left: calc( 50% - var(--gcw-max-s-half) ); transform: translate(-100%, 0); }
.abs--lb-gcw-m              { top:auto;     bottom: 0;                                                      right:auto;     left: calc( 50% - var(--gcw-max-m-half) ); transform: translate(-100%, 0); }

.abs--lb-edge               { top:auto;     bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );        right:auto;     left: 0; }   
.abs--lb-gcw-edge           { top:auto;     bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );        right:auto;     left: calc( 50% - var(--gcw-max-half) ); transform: translate(-100%, 0); }
.abs--lb-gcw-s-edge         { top:auto;     bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );        right:auto;     left: calc( 50% - var(--gcw-max-s-half) ); transform: translate(-100%, 0); }
.abs--lb-gcw-m-edge         { top:auto;     bottom: calc( var(--sp-feat) * var(--abs-edge_factor) );        right:auto;     left: calc( 50% - var(--gcw-max-m-half) ); transform: translate(-100%, 0); }
    

/* Absolute Image Sizes */

:root {
    --abssize: 300px;
    --abssize-m: 200px;
    --abs_pull_factor: 0rem
}
    /* Tablet */
    @media screen and (min-width: 800px) and (max-width: 1023px) {:root {
            --abssize: 300px;
            --abssize-m: 200px;
            --abs_pull_factor: 5rem
        }
    }
    /* Laptop Med  */
    @media screen and (min-width: 1024px) and (max-width: 1299px) {
        :root {
            --abssize: 400px;
            --abssize-m: 350px;
            --abs_pull_factor: 6rem;
        }
    }

    /* Laptop Large  */
    @media screen and (min-width: 1300px) and (max-width: 1499px) { 
        :root {
            --abssize: 500px;
            --abssize-m: 400px;
            --abs_pull_factor: 8rem;
        }
    }

    
    /* Desktop Medium */
    @media screen and (min-width: 1500px) and (max-width: 1699px) {  
        :root {
            --abssize: 450px;
            --abssize-m: 320px;
            --abs_pull_factor: 5rem;
        }
    }

    /* Desktop */
   @media screen and (min-width: 1700px) and (max-width: 1999px) {  
        :root {
            --abssize: 550px;
            --abssize-m: 380px;
            --abs_pull_factor: 5rem;
        }
    }

    /* Desktop Extra Wide */
    @media screen and (min-width: 2000px) { 
        :root {
            --abssize: 650px;
            --abssize-m: 470px;
            --abs_pull_factor: 5rem;
        }
    }

    .abssize { width: var(--abssize); }
    .abssize-m { width: var(--abssize-m); }
    .abssize-200 { width: 200px; }
    .z100 { z-index: 100; position:relative; }
    *[class*="abs--r"].abspi  > :first-child { margin-left: calc( var(--abs_pull_factor) * -1 ); }
    *[class*="abs--r"].abspo > :first-child { margin-left: calc( var(--abs_pull_factor) * 1 ); }
    *[class*="abs--l"].abspi  > :first-child { margin-left: calc( var(--abs_pull_factor) * 1 ); }
    *[class*="abs--l"].abspo > :first-child { margin-left: calc( var(--abs_pull_factor) * -1 ); }
    
/*---------------------------------------------------------------------------
CSS Grid Helpers - GRID 1fr @ 799px
---------------------------------------------------------------------------*/

/* Rplacing Gutenberg Columns Flex to grid & GSS Auto Grid */
.wp-block-columns, .gssauto, .gssauto-child > * { display: grid !important; grid-auto-columns: 1fr; grid-auto-flow: row;  margin-bottom: 0; }
.wp-block-column:not(:first-child) { margin-left: 0em !important; }

    @media screen and (min-width: 800px) {
        .wp-block-columns, .gssauto, .wp-block-group.gss--auto-child  > * { display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;  margin-bottom: 0; }
    }

/* GSS Grid 1fr @ 799px
-----------------------------------------------*/
*[class*="gss--"], *[class*="gss--"] > *  {  display: grid !important; grid-auto-columns: 1fr; grid-auto-flow: row;}

    @media screen and (min-width: 800px) {

        /* Auto Fit Grids */
        .gss--1-auto { grid-template-columns: 1fr auto; }
        .gss--auto-1 { grid-template-columns: auto 1fr; }
        /* repeat grids */
        .gss--r-2,      .gss--r-2-child > * { grid-template-columns: repeat(2, 1fr) ; }
        .gss--r-3,      .gss--r-3-child > * { grid-template-columns: repeat(3, 1fr) ; }
        .gss--r-4,      .gss--r-4-child > * { grid-template-columns: repeat(4, 1fr) ; }
        .gss--r-5,      .gss--r-5-child > * { grid-template-columns: repeat(5, 1fr) ; }
        .gss--r-6,      .gss--r-6-child > * { grid-template-columns: repeat(6, 1fr) ; }
        .gss--r-12,     .gss--r-12-child > * { grid-template-columns: repeat(12, 1fr) ; }
        /* Set grid - Thirds */
        .gss--1-2,      .gss--1-2-child > *     { grid-template-columns: 1fr 2fr ; }
        .gss--2-1,      .gss--2-1-child > *     { grid-template-columns: 2fr 1fr ; }
        /* Set grid - Fourths */
        .gss--1-3,      .gss--1-3-child > *    { grid-template-columns: 1fr 3fr ; }
        .gss--3-1,      .gss--3-1-child > *    { grid-template-columns: 3fr 1fr ; }
        .gss--2-1-1,    .gss--2-1-1-child > *  { grid-template-columns: 2fr 1fr 1fr ; }
        .gss--1-2-1,    .gss--1-2-1-child > *   { grid-template-columns: 1fr 2fr 1fr ; }
        .gss--1-1-2,    .gss--1-1-2-child > *  { grid-template-columns: 1fr 1fr 2fr ; }
        .gss--2-1-1,    .gss--2-1-1-child > *  { grid-template-columns: 2fr 1fr 1fr ; }
        /* Set grid - Fifths */
        .gss--1-4,      .gss--1-4-child > *  { grid-template-columns: 1fr 4fr ; }
        .gss--4-1,      .gss--4-1-child > *  { grid-template-columns: 4fr 1fr ; }
        .gss--1-1-3,    .gss--1-1-3-child > *  { grid-template-columns: 1fr 1fr 3fr ; }
        .gss--1-3-1,    .gss--1-3-1-child > *  { grid-template-columns: 1fr 3fr 1fr ; }
        .gss--3-1-1,    .gss--3-1-1-child > *  { grid-template-columns: 3fr 1fr 1fr ; }
        .gss--2-2-1,    .gss--2-1-1-child > *  { grid-template-columns: 2fr 2fr 1fr ; }
        .gss--2-1-2,    .gss--2-1-2-child > *  { grid-template-columns: 2fr 1fr 2fr ; }
        .gss--1-2-2,    .gss--1-2-2-child > *  { grid-template-columns: 1fr 2fr 2fr ; }
        .gss--2-3,      .gss--2-3-child > *  { grid-template-columns: 2fr 3fr ; }
        .gss--3-2,      .gss--3-2-child > *  { grid-template-columns: 3fr 2fr ; }
        /* Set grid - Sixths */
        .gss--1-5,      .gss--1-5-child > *     { grid-template-columns: 1fr 5fr ; }
        .gss--5-1,      .gss--5-1-child > *     { grid-template-columns: 5fr 1fr ; }

        /* Grid Column Order i.e. Source Ordering */
        .gsc--order-0 { order: 0; }
        .gsc--order-1 { order: 1; }
        .gsc--order-2 { order: 2; }
        .gsc--order-3 { order: 3; }

        /* Grid Column Over i.e. Overlap/Pull */
        .gsc--over-r { position: relative; z-index: 10; margin-right: calc(-1 * var(--sp-base)); }
        .gsc--over-l { position: relative; z-index: 10; margin-left:  calc(-1 * var(--sp-base)); }
        .gsc--over-lr { position: relative; z-index: 10; margin-left:  calc(-1 * var(--sp-base)); margin-right: calc(-2 * var(--sp-base)); }
        .gsc--over-t { position: relative; margin-top:  calc(-2 * var(--sp-base)); }
        /* Grid Column Push */
        .gsc--push-r { margin-right: calc(1 * var(--sp-base)); }
        .gsc--push-l  { margin-left: calc(1 * var(--sp-base)); }
        /*Grid Column Span*/
        .gsc--span-0 { grid-column: 1 / -1; }
        .gsc--span-2 { grid-column: auto / span 2; }
        .gsc--span-3 { grid-column: auto / span 3; }
        .gsc--span-4 { grid-column: auto / span 4; }
        .gsc--span-5 { grid-column: auto / span 5; }
        .gsc--span-6 { grid-column: auto / span 6; }
        .gsc--span-7 { grid-column: auto / span 7; }
        .gsc--span-8 { grid-column: auto / span 8; }
        .gsc--span-9 { grid-column: auto / span 9; }
        .gsc--span-10 { grid-column: auto / span 10; }
        .gsc--span-11 { grid-column: auto / span 11; }
    }

/* GSS Grid All
-----------------------------------------------*/

/* Auto Fit Grids */
.gss--1-auto-all { grid-template-columns: 1fr auto; }
.gss--auto-1-all { grid-template-columns: auto 1fr; }
/* repeat grids */
.gss--r-2-all,      .gss--r-2-all-child > * { grid-template-columns: repeat(2, 1fr); }
.gss--r-3-all,      .gss--r-3-all-child > * { grid-template-columns: repeat(3, 1fr); }
.gss--r-4-all,      .gss--r-4-all-child > * { grid-template-columns: repeat(4, 1fr); }
.gss--r-5-all,      .gss--r-5-all-child > * { grid-template-columns: repeat(5, 1fr); }
.gss--r-6-all,      .gss--r-6-all-child > * { grid-template-columns: repeat(6, 1fr); }
.gss--r-12-all,     .gss--r-12-all-child > * { grid-template-columns: repeat(12, 1fr); }
/* Set grid - Thirds */
.gss--1-2-all,      .gss--1-2-all-child > *     { grid-template-columns: 1fr 2fr; }
.gss--2-1-all,      .gss--2-1-all-child > *     { grid-template-columns: 2fr 1fr; }
/* Set grid - Fourths */
.gss--1-3-all,      .gss--1-3-all-child > *    { grid-template-columns: 1fr 3fr; }
.gss--3-1-all,      .gss--3-1-all-child > *    { grid-template-columns: 3fr 1fr; }
.gss--2-1-1-all,    .gss--2-1-1-all-child > *  { grid-template-columns: 2fr 1fr 1fr; }
.gss--1-2-1-all,    .gss--1-2-1-all-child > *   { grid-template-columns: 1fr 2fr 1fr; }
.gss--1-1-2-all,    .gss--1-1-2-all-child > *  { grid-template-columns: 1fr 1fr 2fr; }
.gss--2-1-1-all,    .gss--2-1-1-all-child > *  { grid-template-columns: 2fr 1fr 1fr; }
/* Set grid - Fifths */
.gss--1-4-all,      .gss--1-4-all-child > *  { grid-template-columns: 1fr 4fr; }
.gss--4-1-all,      .gss--4-1-all-child > *  { grid-template-columns: 4fr 1fr; }
.gss--1-1-3-all,    .gss--1-1-3-all-child > *  { grid-template-columns: 1fr 1fr 3fr; }
.gss--1-3-1-all,    .gss--1-3-1-all-child > *  { grid-template-columns: 1fr 3fr 1fr; }
.gss--3-1-1-all,    .gss--3-1-1-all-child > *  { grid-template-columns: 3fr 1fr 1fr; }
.gss--2-2-1-all,    .gss--2-1--all1-child > *  { grid-template-columns: 2fr 2fr 1fr; }
.gss--2-1-2-all,    .gss--2-1-2-all-child > *  { grid-template-columns: 2fr 1fr 2fr; }
.gss--1-2-2-all,    .gss--1-2-2-all-child > *  { grid-template-columns: 1fr 2fr 2fr; }
.gss--2-3-all,      .gss--2-3-all-child > *  { grid-template-columns: 2fr 3fr; }
.gss--3-2-all,      .gss--3-2-all-child > *  { grid-template-columns: 3fr 2fr; }
/* Set grid - Sixths */
.gss--1-5-all,      .gss--1-5-all-child > *     { grid-template-columns: 1fr 5fr; }
.gss--5-1-all,      .gss--5-1-all-child > *     { grid-template-columns: 5fr 1fr; }

/* GSS Grid Small
-----------------------------------------------*/
 @media screen and (max-width: 799px) {

    /* Auto Fit Grids */
    .gss--1-auto-small { grid-template-columns: 1fr auto; }
    .gss--auto-1-small { grid-template-columns: auto 1fr; }
    /* repeat grids */
    .gss--r-2-small,      .gss--r-2-small-child > * { grid-template-columns: repeat(2, 1fr); }
    .gss--r-3-small,      .gss--r-3-small-child > * { grid-template-columns: repeat(3, 1fr); }
    .gss--r-4-small,      .gss--r-4-small-child > * { grid-template-columns: repeat(4, 1fr); }
    .gss--r-5-small,      .gss--r-5-small-child > * { grid-template-columns: repeat(5, 1fr); }
    .gss--r-6-small,      .gss--r-6-small-child > * { grid-template-columns: repeat(6, 1fr); }
    .gss--r-12-small,     .gss--r-12-small-child > * { grid-template-columns: repeat(12, 1fr); }
    /* Set grid - Thirds */
    .gss--1-2-small,      .gss--1-2-small-child > *     { grid-template-columns: 1fr 2fr; }
    .gss--2-1-small,      .gss--2-1-small-child > *     { grid-template-columns: 2fr 1fr; }
    /* Set grid - Fourths */
    .gss--1-3-small,      .gss--1-3-small-child > *    { grid-template-columns: 1fr 3fr; }
    .gss--3-1-small,      .gss--3-1-small-child > *    { grid-template-columns: 3fr 1fr; }
    .gss--2-1-1-small,    .gss--2-1-1-small-child > *  { grid-template-columns: 2fr 1fr 1fr; }
    .gss--1-2-1-small,    .gss--1-2-1-small-child > *   { grid-template-columns: 1fr 2fr 1fr; }
    .gss--1-1-2-small,    .gss--1-1-2-small-child > *  { grid-template-columns: 1fr 1fr 2fr; }
    .gss--2-1-1-small,    .gss--2-1-1-small-child > *  { grid-template-columns: 2fr 1fr 1fr; }
    /* Set grid - Fifths */
    .gss--1-4-small,      .gss--1-4-small-child > *  { grid-template-columns: 1fr 4fr; }
    .gss--4-1-small,      .gss--4-1-small-child > *  { grid-template-columns: 4fr 1fr; }
    .gss--1-1-3-small,    .gss--1-1-3-small-child > *  { grid-template-columns: 1fr 1fr 3fr; }
    .gss--1-3-1-small,    .gss--1-3-1-small-child > *  { grid-template-columns: 1fr 3fr 1fr; }
    .gss--3-1-1-small,    .gss--3-1-1-small-child > *  { grid-template-columns: 3fr 1fr 1fr; }
    .gss--2-2-1-small,    .gss--2-1--small1-child > *  { grid-template-columns: 2fr 2fr 1fr; }
    .gss--2-1-2-small,    .gss--2-1-2-small-child > *  { grid-template-columns: 2fr 1fr 2fr; }
    .gss--1-2-2-small,    .gss--1-2-2-small-child > *  { grid-template-columns: 1fr 2fr 2fr; }
    .gss--2-3-small,      .gss--2-3-small-child > *  { grid-template-columns: 2fr 3fr; }
    .gss--3-2-small,      .gss--3-2-small-child > *  { grid-template-columns: 3fr 2fr; }
    /* Set grid - Sixths */
    .gss--1-5-small,      .gss--1-5-small-child > *     { grid-template-columns: 1fr 5fr; }
    .gss--5-1-small,      .gss--5-1-small-child > *     { grid-template-columns: 5fr 1fr; }

 }

/* Grid Gap
-----------------------------------------------*/
.grid-gap-rim,  .grid-gap-rim-child  > *   { grid-gap: var(--sp-rim) !important; }
.grid-gap,      .grid-gap-child      > *   { grid-gap: var(--sp-base) !important; } 
.grid-gap-feat, .grid-gap-feat-child > *   { grid-gap: var(--sp-feat) !important; }

/*---------------------------------------------------------------------------
Flex Columns Helpers - 100% Width @ 799px
---------------------------------------------------------------------------*/

.fcls--6, .fcls--6-child > *, .fcls--6-rim, .fcls--6-rim-child > *, .fcls--6-base, .fcls--6-base-child  > *,
.fcls--5, .fcls--5-child > *, .fcls--5-rim, .fcls--5-rim-child > *, .fcls--5-base, .fcls--5-base-child  > *,
.fcls--4, .fcls--4-child > *, .fcls--4-rim, .fcls--4-rim-child > *, .fcls--4-base, .fcls--4-base-child  > *,
.fcls--3, .fcls--3-child > *, .fcls--3-rim, .fcls--3-rim-child > *, .fcls--3-base, .fcls--3-base-child  > *,
.fcls--2, .fcls--2-child > *, .fcls--2-rim, .fcls--2-rim-child > *, .fcls--2-base, .fcls--2-base-child  > *
{ display: flex !important; flex-wrap: wrap !important;  justify-content: center; flex: 0 0 100% !important; }   

.fcls--6, .fcls--6-child > *,
.fcls--5, .fcls--5-child > *,
.fcls--4, .fcls--4-child > *,
.fcls--3, .fcls--3-child > *,
.fcls--2, .fcls--2-child > *
{ margin: 0 !important; gap: 0; }

.fcls--6-rim, .fcls--6-rim-child > *,
.fcls--5-rim, .fcls--5-rim-child > *,
.fcls--4-rim, .fcls--4-rim-child > *,
.fcls--3-rim, .fcls--3-rim-child > *,
.fcls--2-rim, .fcls--2-rim-child > *
{ margin: 0 calc( var(--sp-rim) * -0.5 ) !important; gap: var(--sp-rim); }

.fcls--6-base, .fcls--6-base-child  > *,
.fcls--5-base, .fcls--5-base-child  > *,
.fcls--4-base, .fcls--4-base-child  > *,
.fcls--3-base, .fcls--3-base-child  > *,
.fcls--2-base, .fcls--2-base-child  > *
{ margin: 0 calc( var(--sp-base) * -0.5 ) !important; gap: var(--sp-base); }


    @media screen and (min-width: 800px) {

        .fcls--6 > *, .fcls--6-child > * > * {  flex: 0 0 16.666666% !important; }
        .fcls--5 > *, .fcls--5-child > * > * {  flex: 0 0 20% !important; }
        .fcls--4 > *, .fcls--4-child > * > * {  flex: 0 0 25% !important; }
        .fcls--3 > *, .fcls--3-child > * > * {  flex: 0 0 33.333333% !important; }
        .fcls--2 > *, .fcls--2-child > * > * {  flex: 0 0 50% !important; }

        .fcls--6-rim > *, .fcls--6-rim-child > * > * {  flex: 0 0 calc(16.666666% - var(--sp-rim) ) !important; }
        .fcls--5-rim > *, .fcls--5-rim-child > * > * {  flex: 0 0 calc(20% - var(--sp-rim) ) !important; }
        .fcls--4-rim > *, .fcls--4-rim-child > * > * {  flex: 0 0 calc(25% - var(--sp-rim) ) !important; }
        .fcls--3-rim > *, .fcls--3-rim-child > * > * {  flex: 0 0 calc(33.333333% - var(--sp-rim) ) !important; }
        .fcls--2-rim > *, .fcls--2-rim-child > * > * {  flex: 0 0 calc(50% - var(--sp-rim) ) !important; }

        .fcls--6-base > *, .fcls--6-base-child > * > * {  flex: 0 0 calc(16.666666% - var(--sp-base) ) !important; }
        .fcls--5-base > *, .fcls--5-base-child > * > * {  flex: 0 0 calc(20% - var(--sp-base) ) !important; }
        .fcls--4-base > *, .fcls--4-base-child > * > * {  flex: 0 0 calc(25% - var(--sp-base) ) !important; }
        .fcls--3-base > *, .fcls--3-base-child > * > * {  flex: 0 0 calc(33.333333% - var(--sp-base) ) !important; }
        .fcls--2-base > *, .fcls--2-base-child > * > * {  flex: 0 0 calc(50% - var(--sp-base) ) !important; }

    }

/*---------------------------------------------------------------------------
Gap Helpers for CSS Gird & Flexbox
---------------------------------------------------------------------------*/
.grid-gap-rim,  .grid-gap-rim-child  > *   { gap: var(--sp-rim) !important; }
.grid-gap,      .grid-gap-child      > *   { gap: var(--sp-base) !important; } 
.grid-gap-feat, .grid-gap-feat-child > *   { gap: var(--sp-feat) !important; }

.row-gap-rim,  .row-gap-rim-child  > *   { row-gap: var(--sp-rim) !important; }
.row-gap,      .row-gap-child      > *   { row-gap: var(--sp-base) !important; } 
.row-gap-feat, .row-gap-feat-child > *   { row-gap: var(--sp-feat) !important; }

.col-gap-rim,  .col-gap-rim-child  > *   { column-gap: var(--sp-rim) !important; }
.col-gap,      .col-gap-child      > *   { column-gap: var(--sp-base) !important; } 
.col-gap-feat, .col-gap-feat-child > *   { column-gap: var(--sp-feat) !important; }

/*---------------------------------------------------------------------------
Menu Helpers
---------------------------------------------------------------------------*/

.menu { padding: 0; margin: 0; list-style: none; position: relative; display: flex; flex-wrap: wrap; }
.menu, .menu.horizontal { flex-wrap: wrap; flex-direction: row; }
.align-right { justify-content: flex-end; }
.align-center { justify-content: center; }
.menu.expanded li { flex: 1 1 0px; }
.menu a, .menu .button { line-height: 1; text-decoration: none; display: block; padding: 0.7rem 1rem; }
.menu.vertical { flex-wrap: nowrap; flex-direction: column; }

/*---------------------------------------------------------------------------
Form Layout Helpers
---------------------------------------------------------------------------*/

.form_wrap { padding: var(--sp-base); background-color: var(--clr-white) !important; box-shadow: var(--shadowbox-btn); }
.form-control { display: grid; grid-template-columns: repeat(12, 1fr); grid-gap: 20px; }
.form-control p , .form-control [data-class="wpcf7cf_group"] { grid-column: 1 / -1; margin: 0; }
.form-control p input[type="submit"] { margin-bottom: 0; }
.form-control p.half { grid-column: auto / span 6; }
.form-control p.third { grid-column: auto / span 4; }
.form-control p.fourth { grid-column: auto / span 3; }
.form-control p.three_fourth { grid-column: auto / span 9; }
    /* Mobile Break */
    @media screen and (max-width: 700px) {
        .form-control { grid-gap: 10px; }
        .form-control p.half, .form-control p.third, .form-control p.fourth, .form-control p.three_fourth { grid-column: 1 / -1; }
    }  

/*---------------------------------------------------------------------------
Icon Helper Classes
---------------------------------------------------------------------------*/

/* Navicons
-----------------------------------------------*/  
.navicon { display:flex !important; flex-direction: column; align-items: center; justify-content: center; height: 100%;background: transparent; border: none; display: block; margin: 0; padding: 0; transition: 0.3s;  line-height: 1; font-size: 1rem; color: var(--clr-2); text-decoration: none; }
.navicon:hover,.navicon:focus { background: none !important;  opacity: .3; }
.navicon svg { color: var(--clr-1); }
.navicon:hover svg,.navicon:focus svg  {  }

/* Social Icons
-----------------------------------------------*/  
ul.sicons { margin: 0; }
ul.sicons li { list-style: none; }

/* Icon Lists Grids
-----------------------------------------------*/   
:root { 
    --icon_list_icon_small_size: 1rem + .25rem ;
    --icon_list_icon_size: calc( var(--h2-size) + .25rem ) ;
    --icon_heading_icon_size: calc( var(--h2-size) + .5rem );
}
    @media screen and (min-width: 800px) {
        :root { 
            --icon_list_icon_small_size: 1rem; 
            --icon_list_icon_size: calc( var(--h2-size) + .25rem );
            --icon_heading_icon_size: calc( var(--h1-size) + 2rem );
        }
    }

/* Icon Lists Global */
.icon_list_grid-small, .icon_list_grid, .icon_list_grid-heading { display: grid; }
.icon_list_grid-small > :first-child , .icon_list_grid > :first-child , .icon_list_grid-heading > :first-child  { display: flex; justify-content: center; width: 100%; }
.icon_list_grid-small > :last-child , .icon_list_grid > :last-child , .icon_list_grid-heading > :last-child { display: flex; justify-content: center; flex-direction: column; height: 100%; }
.icon_list_grid-small :last-child > :last-child, .icon_list_grid > :last-child > :last-child, .icon_list_grid-heading :last-child > :last-child { margin-bottom: 0px !important; }
.icon_list_grid-icon { display: block; }

/* Icon Lists Small */
.icon_list_grid-small { grid-gap: .5rem; grid-template-columns: var(--icon_list_icon_small_size) 1fr; }
.icon_list_grid-small svg { font-size:1.5rem; }

/* Icon Lists Normal*/
.icon_list_grid { grid-gap: var(--sp-rim); grid-template-columns: var(--icon_list_icon_size) 1fr; }
.icon_list_grid svg { font-size:var(--h2-size); }

/* Icon Lists Heading*/
.icon_list_grid-heading { grid-template-columns:  var(--icon_heading_icon_size) 1fr; grid-gap: calc( var(--sp-rim) + 1rem); margin-bottom: var(--sp-rim); }
.icon_list_grid-heading svg { font-size: var(--icon_heading_icon_size); }
.icon_list_grid-heading-heading { font-size: var(--h1-size); margin-bottom:.25rem; transition: all 250ms ease;}
.icon_list_grid-heading-heading svg { font-size: var(--h2-size); }
.icon_list_grid-heading-link .icon_list_grid-heading-heading:hover  { color: var(--clr-1); color: var(--brand-clr-primary); }
    @media screen and (max-width: 700px) {
        .icon_list_grid-heading-link .icon_list_grid-heading-heading { display:grid ;grid-template-columns: 1fr auto; grid-gap: var(--sp-rim); }
    }


/*---------------------------------------------------------------------------
Accessibility Helpers
---------------------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text, .srt, .hidden_visually { border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; }
/* Hider */
.screen-reader-text:focus, .srt:focus,  .hidden_visually:focus 
    { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; clip-path: none; color: #21759b; 
    display: block; font-size: 0.875rem; font-weight: 700; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000;}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus { outline: 0; }
