/*---------------------------------------------------------------------------
Menu Helpers (Thanks Zurb!)
---------------------------------------------------------------------------*/

.menu { padding: 0; margin: 0; list-style: none; position: relative; display: flex; flex-wrap: wrap; }
.menu, .menu.horizontal { flex-wrap: wrap; flex-direction: row; }
.align-right { justify-content: flex-end; }
.align-center { justify-content: center; }
.menu.expanded li { flex: 1 1 0px; }
.menu a, .menu .button { line-height: 1; text-decoration: none; display: block; padding: 0.7rem 1rem; }
.menu.vertical { flex-wrap: nowrap; flex-direction: column; }

@media screen and (max-width: 800px) {
    *[class*="menu-small-"] { display: flex !important; flex-flow: row wrap !important; }
    *[class*="menu-small-"] > li {  ]flex: 0 0 auto; min-height: 0; min-width: 0; width: 100%; }
    .menu-small-4 > li {  width: 25% !important; }
    .menu-small-3 > li {  width: 33.3333% !important; }
    .menu-small-2 > li {  width: 50% !important; }
    .menu-small-1 > li {  width: 100% !important; }
}

/*---------------------------------------------------------------------------
Form Layout Helpers
---------------------------------------------------------------------------*/

.form_wrap { padding: var(--sp-base); background-color: var(--clr-white) !important; box-shadow: var(--shadowbox-btn); }
.form-control { display: grid; grid-template-columns: repeat(12, 1fr); grid-gap: 20px; }
.form-control p , .form-control [data-class="wpcf7cf_group"] { grid-column: 1 / -1; margin: 0; }
.form-control p input[type="submit"] { margin-bottom: 0; }
.form-control p.half { grid-column: auto / span 6; }
.form-control p.third { grid-column: auto / span 4; }
.form-control p.fourth { grid-column: auto / span 3; }
.form-control p.three_fourth { grid-column: auto / span 9; }
    /* Mobile Break */
    @media screen and (max-width: 700px) {
        .form-control { grid-gap: 10px; }
        .form-control p.half, .form-control p.third, .form-control p.fourth, .form-control p.three_fourth { grid-column: 1 / -1; }
    }  

/*---------------------------------------------------------------------------
Icon Helper Classes
---------------------------------------------------------------------------*/

/* Navicons  */
.navicon { display:flex !important; flex-direction: column; align-items: center; justify-content: center; height: 100%;background: transparent; border: none; display: block; margin: 0; padding: 0; transition: 0.3s;  line-height: 1; font-size: 1rem; color: var(--clr-2);}
.navicon:hover,.navicon:focus { background: none !important;  opacity: .3; }
.navicon svg { color: var(--clr-1); }
.navicon:hover svg,.navicon:focus svg  {  }

/* Social Icons */
ul.sicons { margin: 0; }
ul.sicons li { list-style: none; }

/*---------------------------------------------------------------------------
Accessibility Helpers
---------------------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text, .srt { border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; }
.screen-reader-text:focus, .srt:focus 
    { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; clip-path: none; color: #21759b; 
    display: block; font-size: 0.875rem; font-weight: 700; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000;}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus { outline: 0; }
