/*---------------------------------------------------------------------------
03-05 Lists (BSL)
---------------------------------------------------------------------------*/

/* List Grid
------------------------------------------*/
:root {
    --list-icon-font_size: 1.5rem;
    --list-icon-color: var(--clr-1);
    --licon-li-padding_left: 2.25rem;
    --num_list-border_color: var(--clr-4);
    --num_list-border_width: 2px;
    --list_grid-min: 300px;
}

/* List Grid
------------------------------------------*/
ol.list-grid, ul.list-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax( var(--list_grid-min), 1fr ) ); grid-gap: .45rem 2rem; }
ol.list-grid > li, ul.list-grid > li { margin-bottom: 0px; }

ul[class*="licon--"] { list-style: none; margin-left: 0;  list-style-type: none;  }
ul[class*="licon--"] li { color: var(--clr-body); position: relative; padding-left: var(--licon-li-padding_left); }
ul[class*="licon--"] li::before { display: inline-block; font-family: "Font Awesome 5 Pro"; font-weight: 900; content: ""; }
ul[class*="licon--"] li:before { display: none; }
ul[class*="licon--"] li svg { color: var(--list-icon-color); position: absolute; left: 0; top: 0; transform: translate( 0%, 0% );  font-size: var(--list-icon-font_size); } 

/* Bullet List */
ul.licon--bullet li::before { content: "\f068" !important; }
/* Dot List */
ul.licon--dot li::before { content: "\f111" !important; } ul.licon--dot li svg { transform: scale(.5); }
/* Check List */
ul.licon--check li::before { content: "\f00c" !important; }
/* Star List */
ul.licon--star li::before { content: "\f005" !important;  }

/* Number Lists 
------------------------------------------*/
ol.num-list { list-style-type: none; list-style-type: decimal !ie; /*IE 7- hack*/ counter-reset: li-counter;}
ol.num-list > li { position: relative; margin-bottom: 10px; padding-left: 0.5em; min-height: 1.6em; border-left: var(--num_list-border_width) solid var(--num_list-border_color);}
ol.num-list > li:before, .styled-type ol > li:before { 
    position: absolute; 
    left: -2.1rem; width: 1.8rem; 
    font-family: var(--fontHead),-system-ui,system-ui,sans-serif; 
    font-weight: 700; top: 0; font-size: var(--list-icon-font_size); 
    text-align: center; 
    color: var(--list-icon-color); 
    content: counter(li-counter); 
    counter-increment: li-counter; }
ol.num-list li:marker { display: none; }
ol.num-list > li::marker { color: transparent; }
