/*---------------------------------------------------------------------------
03-01 Typography (HDG)
---------------------------------------------------------------------------*/

/* Body & P In fallbacks */

/* Lead Paragraph
------------------------------------------*/
.lead { font-size: 1.4em; line-height: 1.3; margin-bottom: 1.2rem; font-weight: 300; }
    @media screen and (max-width: 800px) {
        .lead { font-size: 1.4em; }
    }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { 
    font-family: lolapeluzablack, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: .8;
    letter-spacing: 0.03em;
    margin: 0 0 1rem 0; 
    color: var(--clr-1);
}

.head-2 {
    font-family: qanelasblack, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
}

.head-3 {
    font-family: qanelasregular, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    letter-spacing: 0;
}

.head-4 {
    font-family: qanelasregular, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
}

h1, .h1 { font-size: var(--h1-size); margin-left: calc(var(--h1-size) / -22); word-break: break-word; }
h2, .h2 { font-size: var(--h2-size); margin-left: calc(var(--h2-size) / -26); }
h3, .h3 { font-size: var(--h3-size); color: var(--clr-3); }
h4, .h4 { font-size: var(--h4-size); color: var(--clr-3); }
h5, .h5 { font-size: var(--h5-size); margin-bottom: 1rem; }
h6, .h6 { font-size: var(--h6-size); margin-bottom: 1rem; text-transform: font-weight: 700; color: var(--clr-black); }

/* Legal Headings - Subdued headers for ease of reading
------------------------------------------*/
.legal-content h1 { font-size: calc(var(--h1-size) * 0.8); }
.legal-content h2 { font-size: calc(var(--h2-size) * 0.7); }
.legal-content h3 { font-size: calc(var(--h3-size) * 0.6); }
.legal-content h4 { font-size: calc(var(--h4-size) * 0.6); }

/* Header top spacing - After Paragraphs or Lists applied to Heading after "+"
------------------------------------------*/
p + h1, ul + h1, ol + h1  {  padding-top: 2rem; }
h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6 {  padding-top: .85rem; }

p + h2, ul + h2, ol + h2,
p + h3, ul + h3, ol + h3,
p + h4, ul + h4, ol + h4,
p + h5, ul + h5, ol + h5,
p + h6, ul + h6, ol + h6 {  padding-top: .5rem; } 

/* large headers
-----------------------------------------------*/
h1.large, .h1.large { font-size: var(--large-size); }
h1.xlarge, .h1.xlarge { font-size: var(--xlarge-size); }
h1.xxlarge, .h1.xxlarge { font-size: var(--xxlarge-size); }
h1.xxxlarge, .h1.xxxlarge { font-size: var(--xxxlarge-size); }

/* Small Text
-----------------------------------------------*/
.text-small { font-size: var(--small-size);  }
.text-xsmall { font-size: var(--xsmall-size); }
.text-xxsmall { font-size: var(--xxsmall-size); }
.text-xxxsmall { font-size: var(--xxxsmall-size); }

/* Light Text
-----------------------------------------------*/
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 { color: var(--clr-white) !important; }
.light p, .light li, .light li:after { color: var(--clr-white) !important; }
.light hr, hr.light {background-color: var(--clr-1) !important; }
.light b, b.light, .light strong, strong.light , .light .bold, .light.bold  { color: var(--clr-white); }
