/*---------------------------------------------------------------------------
03-05 Lists (BSL)
---------------------------------------------------------------------------*/

/* List Basic Styling
------------------------------------------*/
ol, ul { margin-left: 2rem; }
.no-bullet { list-style: none; margin-left: 0; }
ol.no-bullet, ul.no-bullet { margin-left: 0; list-style: none; }

/* List Grid
------------------------------------------*/
ol.list-grid, ul.list-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 5px 2rem; }
ol.list-grid > li, ul.list-grid > li { margin-bottom: 0px; }

/* Number Lists
------------------------------------------*/
ol.num-list, .styled-type ol { list-style-type: none; list-style-type: decimal !ie; /*IE 7- hack*/ counter-reset: li-counter;}
    .light ol.num-list, .styled-type.light ol, .styled-type .light ol { color: var(--clr-white); }
ol.num-list > li, .styled-type ol > li { position: relative; margin-bottom: 10px; padding-left: 0.5em; min-height: 1.6em; border-left: 1px solid var(--clr-3);}
    .light ol.num-list > li, .styled-type.light ol > li, .styled-type .light ol > li { border-left: 4px solid var(--clr-1); }
ol.num-list > li:before, .styled-type ol > li:before
{ position: absolute; font-family: var(--fontHead),-system-ui,system-ui,sans-serif; font-weight: 700; top: 0; left: -2.1rem; width: 1.8rem; font-size: 1.3rem;
    text-align: center; color: var(--clr-1); content: counter(li-counter); counter-increment: li-counter; }
    .light ol.num-list > li:before, .styled-type.light ol, .styled-type .light ol  > li:before { color: var(--clr-white); }
ol.num-list li:marker { display: none; }
ol.num-list > li::marker, .styled-type ol > li::marker { color: transparent; }

/* Bullet List
------------------------------------------*/
ul.bullet-list, .styled-type ul { list-style: none; }
ul.bullet-list li, .styled-type ul li { color: var(--clr-body); font-family: var(--fontHead),-system-ui,system-ui,sans-serif; font-weight: 700; }
    .light ul.bullet-list li, .styled-type.light ul li, .styled-type .light ul li  { color:  var(--clr-white); }
ul.bullet-list li::before, .styled-type ul li::before  { display: inline-block; font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f111" !important; }
ul.bullet-list li::before, .styled-type ul li::before  { display: none; }

ul.bullet-list li svg, .styled-type ul li svg { color: var(--clr-1); position: absolute; margin-top: .4rem; margin-left: -1.2rem; font-size: .6rem; }
    .light ul.bullet-list li svg, .styled-type.light ul li svg, .styled-type .light ul li svg { color: var(--clr-2) }

/* Check List
------------------------------------------*/
ul.check-list { list-style: none; }
ul.check-list li { color:  var(--clr-body); font-family: var(--fontHead),-system-ui,system-ui,sans-serif; font-weight: 700; }
ul.check-list li::before { display: inline-block; font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f00c" !important; }
ul.check-list li:before { display: none !important; }
ul.check-list li svg { color: var(--clr-1); position: absolute; margin-top: .15rem; margin-left: -1.6rem; font-size: 1.2rem; }
.light ul.check-list li { color:  var(--clr-white); } .light ul.check-list li svg { color: var(--clr-2) }
ul.check-list ul { list-style-type: none; margin-top: calc( var(--sp-rim) / 2); }
ul.check-list ul  li { margin-bottom: .5em; }
ul.check-list ul  li::before { display: inline-block; font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f054" !important; }

/* Star List
------------------------------------------*/
ul.star-list { list-style: none; }
ul.star-list li { color: var(--clr-body); font-family: var(--fontHead),-system-ui,system-ui,sans-serif; font-weight: 700; }
    .light ul.star-list li  { color:  var(--clr-white); }
ul.star-list li::before  { display: inline-block; font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f005" !important; }
ul.star-list li:before  { display: none; }
ul.star-list li svg { color: var(--clr-1); position: absolute; margin-top: .15rem; margin-left: -1.6rem; font-size: 1.2rem; }
    .light ul.star-list li svg  { color: var(--clr-2) }
