/*---------------------------------------------------------------------------
Buttons
---------------------------------------------------------------------------*/

:root { --button_brdr: 3px; }
    @media screen and (max-width: 700px) {
        :root { --button_brdr: 3px; }
    }


textarea, input, button { outline: none; }
.wp-block-buttons>.wp-block-button { display: inline-block; margin: 0 !important; }


/* Woo Base*/ .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
/* Woo Alt*/  .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
/* Gut */ a.wp-block-button__link,
/* Wpsl Search page */ #wpsl-search-btn,

.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="submit" i]

{   display: inline-block;
    vertical-align: middle;
    margin: 0 0 .7em 0;
    padding: .4em 1.2em;
    text-transform: uppercase !important;
    font-family: "Gotham A", "Gotham B", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: var(--clr-1);
    color: var(--clr-white) !important;
    border-radius: 9999px !important;
    border: var(--button_brdr) solid transparent !important;
    transition: all 350ms ease-in-out !important;;
}
/* Woo Base*/ .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
/* Woo Alt*/  .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
/* Gut */ a.wp-block-button__link:hover,
.button:hover,.button:focus,
button:hover,button:active, button:focus,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,


input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus  

{ background-color: var(--clr-1-dark) !important; opacity: 1; color: #fff !important; }

/* Solid Buttons */
.button.bkg-1, .wp-block-button__link.has-clr-1-background-color { color: var(--clr-white) !important; background-color: var(--clr-1) !important;  }
.button.bkg-1:hover, .wp-block-button__link.has-clr-1-background-color:hover, .button.bkg-1:focus, .wp-block-button__link.has-clr-1-background-color:focus { background-color: var(--clr-1-hover) !important;  }

.button.bkg-2, .wp-block-button__link.has-clr-2-background-color { color: var(--clr-white) !important; background-color: var(--clr-2) !important;  }
.button.bkg-2:hover, .wp-block-button__link.has-clr-2-background-color:hover, .button.bkg-2:focus, .wp-block-button__link.has-clr-2-background-color:focus { background-color: var(--clr-2-hover) !important;  }

.button.bkg-3, .wp-block-button__link.has-clr-3-background-color { color: var(--clr-white) !important; background-color: var(--clr-3) !important;  }
.button.bkg-3:hover, .wp-block-button__link.has-clr-3-background-color:hover, .button.bkg-3:focus, .wp-block-button__link.has-clr-3-background-color:focus { background-color: var(--clr-3-hover) !important;  }

.button.bkg-3, .wp-block-button__link.has-clr-3-background-color { color: var(--clr-white) !important; background-color: var(--clr-3) !important;  }
.button.bkg-4:hover, .wp-block-button__link.has-clr-4-background-color:hover, .button.bkg-4:focus, .wp-block-button__link.has-clr-4-background-color:focus { background-color: var(--clr-4-hover) !important;  }

#wpsl-search-btn,
.wpsl-search-widget input[type="submit" i], 
.button.bkg-white, .wp-block-button__link.has-white-background-color 
    { color: var(--clr-1) !important; background-color: var(--clr-white) !important;  }
#wpsl-search-btn:hover, #wpsl-search-btn:focus,    
.wpsl-search-widget input[type="submit" i]:hover, .wpsl-search-widget input[type="submit" i]:focus, 
.button.bkg-white:hover, .wp-block-button__link.has-white-background-color:hover, .button.bkg-white:focus, .wp-block-button__link.has-white-background-color:focus {
     color: var(--clr-white) !important; background-color: var(--clr-white-hover) !important;  }

.button.bkg-black, .wp-block-button__link.has-black-background-color 
    { color: var(--clr-white) !important; background-color: var(--clr-black) !important;  }
.button.bkg-black:hover,.wp-block-button__link.has-black-background-color:hover, .button.bkg-black:focus,.wp-block-button__link.has-black-background-color:focus 
{ background-color: var(--clr-black-hover) !important;  }

/* Hollow Buttons */
.button.hollow, .is-style-outline>.wp-block-button__link, .wp-block-button__link.is-style-outline { border: var(--button_brdr) solid !important; background-color: transparent !important}

.is-style-outline > .wp-block-button__link:not(.has-background), .wp-block-button__link.is-style-outline:not(.has-background),
.is-style-outline > .wp-block-button__link:not(.has-text-color), .wp-block-button__link.is-style-outline:not(.has-text-color),
.button.hollow, .is-style-outline > .wp-block-button__link, .wp-block-button__link.is-style-outline,
.button.bkg-1.hollow, .is-style-outline>.wp-block-button__link.has-clr-1-background-color, .wp-block-button__link.has-clr-1-background-color.is-style-outline 
    { color: var(--clr-1) !important; border-color: var(--clr-1) !important; background-color: transparent !important}
.button.bkg-1.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-1-background-color:hover, .wp-block-button__link.has-clr-1-background-color.is-style-outline:hover,
.button.bkg-1.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-1-background-color:focus, .wp-block-button__linkhas-clr-1-background-color.is-style-outline:focus
    { color: var(--clr-1-hover) !important; border-color: var(--clr-1-hover) !important; background-color: transparent !important}

.button.bkg-2.hollow, .is-style-outline>.wp-block-button__link.has-clr-2-background-color, .wp-block-button__link.has-clr-2-background-color.is-style-outline 
    { color: var(--clr-2) !important; border-color: var(--clr-2) !important; background-color: transparent !important}
.button.bkg-2.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-2-background-color:hover, .wp-block-button__link.has-clr-2-background-color.is-style-outline:hover,
.button.bkg-2.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-2-background-color:focus, .wp-block-button__linkhas-clr-2-background-color.is-style-outline:focus
    { color: var(--clr-2-hover) !important; border-color: var(--clr-2-hover) !important; background-color: transparent !important}

.button.bkg-3.hollow, .is-style-outline>.wp-block-button__link.has-clr-3-background-color, .wp-block-button__link.has-clr-3-background-color.is-style-outline 
    { color: var(--clr-3) !important; border-color: var(--clr-3) !important; background-color: transparent !important}
.button.bkg-3.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-3-background-color:hover, .wp-block-button__link.has-clr-3-background-color.is-style-outline:hover,
.button.bkg-3.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-3-background-color:focus, .wp-block-button__linkhas-clr-3-background-color.is-style-outline:focus
    { color: var(--clr-3-hover) !important; border-color: var(--clr-3-hover) !important; background-color: transparent !important}

.button.bkg-4.hollow, .is-style-outline>.wp-block-button__link.has-clr-4-background-color, .wp-block-button__link.has-clr-4-background-color.is-style-outline 
    { color: var(--clr-4) !important; border-color: var(--clr-4) !important; background-color: transparent !important}
.button.bkg-4.hollow:hover, .is-style-outline>.wp-block-button__link.has-clr-4-background-color:hover, .wp-block-button__link.has-clr-4-background-color.is-style-outline:hover,
.button.bkg-4.hollow:focus, .is-style-outline>.wp-block-button__link.has-clr-4-background-color:focus, .wp-block-button__linkhas-clr-4-background-color.is-style-outline:focus
    { color: var(--clr-4-hover) !important; border-color: var(--clr-4-hover) !important; background-color: transparent !important}

.button.bkg-white.hollow, .is-style-outline>.wp-block-button__link.has-white-background-color, .wp-block-button__link.has-white-background-color.is-style-outline 
    { color: var(--clr-white) !important; border-color: var(--clr-white) !important; background-color: transparent !important}
.button.bkg-white.hollow:hover, .is-style-outline>.wp-block-button__link.has-white-background-color:hover, .wp-block-button__link.has-white-background-color.is-style-outline:hover,
.button.bkg-white.hollow:focus, .is-style-outline>.wp-block-button__link.has-white-background-color:focus, .wp-block-button__linkhas-white-background-color.is-style-outline:focus
    { color: var(--clr-white-hover) !important; border-color: var(--clr-white-hover) !important; background-color: transparent !important}

.button.bkg-black.hollow, .is-style-outline>.wp-block-button__link.has-black-background-color, .wp-block-button__link.has-black-background-color.is-style-outline 
    { color: var(--clr-black) !important; border-color: var(--clr-black) !important; background-color: transparent !important}
.button.bkg-black.hollow:hover, .is-style-outline>.wp-block-button__link.has-black-background-color:hover, .wp-block-button__link.has-black-background-color.is-style-outline:hover,
.button.bkg-black.hollow:focus, .is-style-outline>.wp-block-button__link.has-black-background-color:focus, .wp-block-button__linkhas-black-background-color.is-style-outline:focus
    { color: var(--clr-black-hover) !important; border-color: var(--clr-black-hover) !important; background-color: transparent !important}

/* Button Woocommerce */
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: inherit; cursor: not-allowed; opacity: .5; padding: .618em 1em; padding: .4rem 1.8rem; font-size: 1rem; color: #fff; }

/* Button Sizing*/
.button.smallbtn, .wp-block-button.smallbtn .wp-block-button__link { font-size: 0.75rem; }
.button.largebtn, .wp-block-button.largebtn .wp-block-button__link { font-size: 2rem; }
.button.expanded, .wp-block-button.expanded, .wp-block-button.expanded .wp-block-button__link { display: block; width: 100%; margin-right: 0; margin-left: 0; }
