/* frm-01-wordpress-and-gutenberg-block-reset.css --- V 1.1 Date 2023-09-20 */

/****************************************************************************
*****************************************************************************
UNMINIFIED BELLOW  - Copy , Minify Add to Theme.
*****************************************************************************
****************************************************************************/

/*---------------------------------------------------------------------------
Wordpress Resets
---------------------------------------------------------------------------*/ 
:root { --wpadminbar_height: 32px; }
    @media screen and (min-width: 783px) {
        :root { --wpadminbar_height: 46px; }
    }

@media screen and (max-width: 600px) { 
    #wpadminbar { position: fixed !important; }
}

/*---------------------------------------------------------------------------
Gutenberg Block Resets
---------------------------------------------------------------------------*/
/*  General Block Resets */
:where(.wp-block-group.has-background) { padding: unset; }
:where(.wp-block-columns.has-background) { padding: unset; }
:where(.wp-block-columns.is-layout-flex), :where(.is-layout-flex) { gap: unset; }
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {  margin-left: unset;  margin-right: unset; }

/*  Image Block
-----------------------------------------------*/
.wp-block-image { margin: 0; }

/*  File  Block
-----------------------------------------------*/
.wp-block-file { margin-bottom: 1.5em; display: grid; text-align: center; }
.wp-block-file .wp-block-file__button { background: unset; border-radius: unset; color: unset; font-size: unset; padding: unset; }
/*  File  Block
-----------------------------------------------*/
.wp-block-latest-posts.is-grid { display: grid; grid-gap: var(--sp-rim); }
.wp-block-latest-posts__featured-image img { height: auto; width: 100%; max-width: 100%; object-fit: cover; max-height: 150px; }
.wp-block-latest-posts.wp-block-latest-posts__list { margin: 0; }
.wp-block-latest-posts.wp-block-latest-posts__list li { background-color: var(--clr-white);  margin: 0; width: 100%; box-shadow: var(--shadowbox-btn); transition: all 0.2s ease-in-out; }
.wp-block-latest-posts.wp-block-latest-posts__list li:hover { box-shadow: var(--shadowbox); }
.wp-block-latest-posts.wp-block-latest-posts__list li > a { font-family: futura-pt, sans-serif; font-weight: 700; font-style: italic; padding: calc( var(--sp-rim) * 0.5 ) var(--sp-rim);  display: block; }
.wp-block-latest-posts__featured-image a { width: 100%;}
    @media screen and (min-width: 800px) {
        .wp-block-latest-posts.is-grid.columns-2 { grid-template-columns: repeat(2, 1fr); }
        .wp-block-latest-posts.is-grid.columns-3 { grid-template-columns: repeat(3, 1fr); }
        .wp-block-latest-posts.is-grid.columns-4 { grid-template-columns: repeat(4, 1fr); }
        .wp-block-latest-posts.is-grid.columns-5 { grid-template-columns: repeat(5, 1fr); }
        .wp-block-latest-posts__featured-image img { max-height: 200px; }
    }

/*  Gallery Block
-----------------------------------------------*/

/* Reset Gallery Figure sizing*/
.wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-5 figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-6 figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-7 figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-8 figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2),
.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2)~figure.wp-block-image:not(#individual-image),
.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:last-child 
{ width: 100% !important }

/* Gallery Block Grid & Columns */
.wp-block-gallery { display: grid !important; }
.wp-block-gallery.columns-1 { grid-template-columns: repeat(1, 1fr); }
.wp-block-gallery.columns-2 { grid-template-columns: repeat(2, 1fr); }
.wp-block-gallery.columns-3 { grid-template-columns: repeat(3, 1fr); }
.wp-block-gallery.columns-4 { grid-template-columns: repeat(3, 1fr); }
.wp-block-gallery.columns-5 { grid-template-columns: repeat(3, 1fr); }
.wp-block-gallery.columns-6 { grid-template-columns: repeat(3, 1fr); }
.wp-block-gallery.columns-7 { grid-template-columns: repeat(3, 1fr); }
.wp-block-gallery.columns-8 { grid-template-columns: repeat(3, 1fr); }
.wp-block-gallery.columns-9 { grid-template-columns: repeat(3, 1fr); }
    
    @media screen and (min-width: 800px) {
        .wp-block-gallery.columns-4 { grid-template-columns: repeat(4, 1fr); }
        .wp-block-gallery.columns-5 { grid-template-columns: repeat(5, 1fr); }
        .wp-block-gallery.columns-6 { grid-template-columns: repeat(6, 1fr); }
        .wp-block-gallery.columns-7 { grid-template-columns: repeat(7, 1fr); }
        .wp-block-gallery.columns-8 { grid-template-columns: repeat(8, 1fr); }
        .wp-block-gallery.columns-9 { grid-template-columns: repeat(9, 1fr); }
    }
