/* frm-02-helper_classes.css --- V 1.02 Date 2023-09-25 */

/*---------------------------------------------------------------------------
General Helpers - (UPDATED 2023-09-19)
---------------------------------------------------------------------------*/

.bkg-img { background-repeat: no-repeat; background-size: cover; }
.clearfix:after {  content: " "; display: block;  height: 0;  clear: both; }
.h100 { height: 100%; }

/* ID link Gives Adds Space Above */
.id-link-fix:before {  display: block;  content: " ";  margin-top: -285px;  height: 285px;  visibility: hidden;  pointer-events: none; }

/* Position & Index */
.relative, .relative-child > :first-child { position: relative; }
.z-0   { position:relative; z-index: -0; }
.z-1   { position:relative; z-index: -1; }
.z-2   { position:relative; z-index: -2; }
.z-3   { position:relative; z-index: -3; }
.z-4   { position:relative; z-index: -4; }
.z-5   { position:relative; z-index: -5; }
.z-6   { position:relative; z-index: -6; }
.z-7   { position:relative; z-index: -7; }
.z-8   { position:relative; z-index: -8; }
.z-9   { position:relative; z-index: -9; }
.z-10  { position:relative; z-index: -10; }
.z0    { position:relative; z-index: 0; }
.z1    { position:relative; z-index: 1; }
.z2    { position:relative; z-index: 2; }
.z3    { position:relative; z-index: 3; }
.z4    { position:relative; z-index: 4; }
.z5    { position:relative; z-index: 5; }
.z6    { position:relative; z-index: 6; }
.z7    { position:relative; z-index: 7; }
.z8    { position:relative; z-index: 8; }
.z9    { position:relative; z-index: 9; }
.z10   { position:relative; z-index: 10; }
.z15   { position:relative; z-index: 15; }
.z20   { position:relative; z-index: 20; }
.z25   { position:relative; z-index: 25; }
.z30   { position:relative; z-index: 30; }
.z35   { position:relative; z-index: 35; }
.z40   { position:relative; z-index: 40; }
.z45   { position:relative; z-index: 45; }
.z50   { position:relative; z-index: 50; }
.z55   { position:relative; z-index: 55; }
.z60   { position:relative; z-index: 60; }
.z65   { position:relative; z-index: 65; }
.z70   { position:relative; z-index: 70; }
.z75   { position:relative; z-index: 75; }
.z80   { position:relative; z-index: 80; }
.z85   { position:relative; z-index: 85; }
.z90   { position:relative; z-index: 90; }
.z95   { position:relative; z-index: 95; }
.z100   { position:relative; z-index: 100; }
.z150   { position:relative; z-index: 150; }
.z200   { position:relative; z-index: 200; }
.z250   { position:relative; z-index: 250; }
.z300   { position:relative; z-index: 300; }
.z350   { position:relative; z-index: 350; }

/* Overflow */
.overhid, .over-hidden { overflow: hidden; }

/* center child */
.flex-center-vertically, .flex-vert, .flex-vert-child > :first-child { display: flex; justify-content: center; flex-direction: column; height: 100%; }
.flex-hor, .flex-hor-child > :first-child { display: flex; justify-content: center;  }

/* Make Img Cover Using <div.img-cover><picture><img>...*/
.img-cover { position: relative; overflow: hidden; }
.img-cover picture { width: 100%; height: 100%; display: flex; }
.img-cover picture img { object-fit: cover; object-position: center center; }

/* Make Img Cover Using Picture Tag <div.img-cover.picture-cover><img>... */
.img-cover.picture-cover { /*width: 100%; height: 100%; */display: flex; z-index: 0; }
.img-cover.picture-cover  img { object-fit: cover; object-position: center center; }

/* Make Image Absolute and Cover with no specific height */
.img-cover.picture-absolute picture, .img-cover.img-absolute picture, .img-cover.img-absolute  img 
{ position: absolute; top: 0; width: 100%; height: 100%; z-index: -1; }

/* Creates overlay over position:relative parent. Forcess Full Height */
.box-over { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 2; }

/* Text Alignment Helpers */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

/* lists */
ol.no-bullet, ul.no-bullet { margin-left:0; list-style:none; }

/*---------------------------------------------------------------------------
Common Effect Helpers
---------------------------------------------------------------------------*/

/* Text Shadow
-----------------------------------------------*/
.tshad { text-shadow: var(--shadow-text); }
.tshad-light { text-shadow: var(--shadow-text-light); }

/* Box Shaddows
-----------------------------------------------*/
.shad, .box-shad { box-shadow: var(--shadowbox); }
.shad-btn { box-shadow: var(--shadowbox); }

/* Border Radius
-----------------------------------------------*/
.brnd, .brdr, .brnd-child > * { border-radius: var(--borderradius); overflow: hidden; }

/* Backdrop Blur
-----------------------------------------------*/
.bblur { backdrop-filter: var(--backdropblur); }

/*---------------------------------------------------------------------------
Accessibility Helpers
---------------------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text, .srt, .hidden_visually { border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; }
/* Hider */
.screen-reader-text:focus, .srt:focus,  .hidden_visually:focus 
    { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; clip-path: none; color: #21759b; 
    display: block; font-size: 0.875rem; font-weight: 700; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000;}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus { outline: 0; }

/*---------------------------------------------------------------------------
Menu Helpers
---------------------------------------------------------------------------*/

.menu { padding: 0; margin: 0; list-style: none; position: relative; display: flex; flex-wrap: wrap; }
.menu, .menu.horizontal { flex-wrap: wrap; flex-direction: row; }
.align-right { justify-content: flex-end; }
.align-center { justify-content: center; }
.menu.expanded li { flex: 1 1 0px; }
.menu a, .menu .button { line-height: 1; text-decoration: none; display: block; padding: 0.7rem 1rem; }
.menu.vertical { flex-wrap: nowrap; flex-direction: column; }

    @media screen and (max-width: 800px) {
        *[class*="menu-small-"] { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-orient: horizontal !important; -webkit-box-direction: normal !important; -webkit-flex-flow: row wrap !important; -ms-flex-flow: row wrap !important; flex-flow: row wrap !important; }
        *[class*="menu-small-"] > li { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; min-height: 0; min-width: 0; width: 100%; }
        .menu-small-4 > li {  width: 25% !important; }
        .menu-small-3 > li {  width: 33.3333% !important; }
        .menu-small-2 > li {  width: 50% !important; }
        .menu-small-1 > li {  width: 100% !important; }
    }

/*---------------------------------------------------------------------------
Sticky Helpers
---------------------------------------------------------------------------*/
.sticky-parent { height: 100%; display: flex; flex-flow: row wrap; }
.sticky { width: 100%; top: 2rem; position: sticky; align-self: flex-start; }

/*---------------------------------------------------------------------------
Form Layout Helpers
---------------------------------------------------------------------------*/

.form_wrap { padding: var(--sp-base); background-color: var(--clr-white) !important; box-shadow: var(--shadowbox-btn); }
.form-control { display: grid; grid-template-columns: repeat(12, 1fr); grid-gap: 20px; }
.form-control p , .form-control [data-class="wpcf7cf_group"] { grid-column: 1 / -1; margin: 0; }
.form-control p input[type="submit"] { margin-bottom: 0; }
.form-control p.half { grid-column: auto / span 6; }
.form-control p.third { grid-column: auto / span 4; }
.form-control p.fourth { grid-column: auto / span 3; }
.form-control p.three_fourth { grid-column: auto / span 9; }
    /* Mobile Break */
    @media screen and (max-width: 700px) {
        .form-control { grid-gap: 10px; }
        .form-control p.half, .form-control p.third, .form-control p.fourth, .form-control p.three_fourth { grid-column: 1 / -1; }
    }  

/*---------------------------------------------------------------------------
Icon Helper Classes
---------------------------------------------------------------------------*/

/* Navicons
-----------------------------------------------*/  
.navicon { display:flex !important; flex-direction: column; align-items: center; justify-content: center; height: 100%;background: transparent; border: none; display: block; margin: 0; padding: 0; transition: 0.3s;  line-height: 1; font-size: 1rem; color: var(--clr-2); text-decoration: none; }
.navicon:hover,.navicon:focus { background: none !important;  opacity: .3; }
.navicon svg { color: var(--clr-1); }
.navicon:hover svg,.navicon:focus svg  {  }

/* Social Icons
-----------------------------------------------*/  
ul.sicons { margin: 0; }
ul.sicons li { list-style: none; }

/*---------------------------------------------------------------------------
Content Container Helpers
---------------------------------------------------------------------------*/

/* min-height */
.minvh100 { min-height: 100vh !important; }

.gcw-xl, .gcw-xl-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max-xl); }
.gcw, .gcw-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max); }
.gcw-m, .gcw-m-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max-m); }
.gcw-s, .gcw-s-child > :first-child { margin: 0 auto;  width: 100%; max-width: var(--gcw-max-s); }
.gcw.fluid { width: 100%; max-width: 100% !important; }

.gcw-plus, .gcw-child-plus > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max) + var(--sp-base) + var(--sp-base) ); }
.gcw-plus-rim, .gcw-child-plus-rim > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max) + var(--sp-rim) + var(--sp-rim) ); }
.gcw-plus-feat, .gcw-child-plus-feat > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max) + var(--sp-feat) + var(--sp-feat) ); }

.gcw-m-plus, .gcw-m-child-plus > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max-m) + var(--sp-base) + var(--sp-base) ); }
.gcw-m-plus-rim, .gcw-m-child-plus-rim > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max-m) + var(--sp-rim) + var(--sp-rim) ); }
.gcw-m-plus-feat, .gcw-m-child-plus-feat > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max-m) + var(--sp-feat) + var(--sp-feat) ); }

.gcw-s-plus, .gcw-s-child-plus > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max-s) + var(--sp-base) + var(--sp-base) ); }
.gcw-s-plus-rim, .gcw-s-child-plus-rim > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max-s) + var(--sp-rim) + var(--sp-rim) ); }
.gcw-s-plus-feat, .gcw-s-child-plus-feat > :first-child { margin: 0 auto;  width: 100%; max-width: calc( var(--gcw-max-s) + var(--sp-feat) + var(--sp-feat) ); }

/*---------------------------------------------------------------------------
Padding & Margin Helpers
---------------------------------------------------------------------------*/

/* Margin 0
-----------------------------------------------*/
.mb-0 { margin-bottom: 0px !important; }
.mb0, .mb-0, .smb0 :last-child, .smb0-child > :first-child { margin-bottom: 0px !important; }

/* Padding, Margin Base
-----------------------------------------------*/
.spv, .spv-child > :first-child { padding-top: var(--sp-base) !important; ; padding-bottom: var(--sp-base) !important; ; }
.spb, .spb-child > :first-child { padding-bottom: var(--sp-base) !important; ; }
.spt, .spt-child > :first-child { padding-top: var(--sp-base) !important; ; }
.sph, .sph-child > :first-child { padding-left: var(--sp-base); padding-right: var(--sp-base) !important; ; }

.smv, .smv-child > :first-child { margin-top: var(--sp-base) !important; ; margin-bottom: var(--sp-base) !important; ; }
.smb, .smb-child > :first-child { margin-bottom: var(--sp-base) !important; ; }
.smt, .smt-child > :first-child { margin-top: var(--sp-base) !important; ; }
.smh, .smh-child > :first-child { margin-left: var(--sp-base); margin-right: var(--sp-base) !important; ; }

/* Padding, Margin Rim
-----------------------------------------------*/
.spv-rim, .spv-rim-child > :first-child { padding-top: var(--sp-rim) !important; ; padding-bottom: var(--sp-rim) !important; ; }
.spb-rim, .spb-rim-child > :first-child { padding-bottom: var(--sp-rim) !important; ; }
.spt-rim, .spt-rim-child > :first-child { padding-top: var(--sp-rim) !important; ; }
.sph-rim, .sph-rim-child > :first-child { padding-left: var(--sp-rim); padding-right: var(--sp-rim) !important; ; }

.smv-rim, .smv-rim-child > :first-child { margin-top: var(--sp-rim) !important; ; margin-bottom: var(--sp-rim) !important; ; }
.smb-rim, .smb-rim-child > :first-child { margin-bottom: var(--sp-rim) !important; ; }
.smt-rim, .smt-rim-child > :first-child { margin-top: var(--sp-rim) !important; ; }
.smh-rim, .smh-rim-child > :first-child { margin-left: var(--sp-rim); margin-right: var(--sp-rim) !important; ; }

/* Padding, Margin Feature
-----------------------------------------------*/
.spv-feat, .spv-feat-child      > :first-child { padding-top: var(--sp-feat) !important; ; padding-bottom: var(--sp-feat) !important; ; }
.spb-feat, .spb-feat-child      > :first-child { padding-bottom: var(--sp-feat) !important; ; }
.spb-feat15, .spb-feat15-child  > :first-child { padding-bottom: calc(var(--sp-feat) * 1.5); !important; ; }
.spb-feat2, .spb-feat2-child    > :first-child { padding-bottom: calc(var(--sp-feat) * 2); !important; ; }
.spt-feat, .spt-feat-child      > :first-child { padding-top: var(--sp-feat) !important; ; }
.sph-feat, .sph-feat-child      > :first-child { padding-left: var(--sp-feat); padding-right: var(--sp-feat) !important; ; }

.smv-feat, .smv-feat-child      > :first-child { margin-top: var(--sp-feat) !important; ; margin-bottom: var(--sp-feat) !important; ; }
.smb-feat, .smb-feat-child      > :first-child { margin-bottom: var(--sp-feat) !important; ; }
.smt-feat, .smt-feat-child      > :first-child { margin-top: var(--sp-feat) !important; ; }
.smh-feat, .smh-feat-child      > :first-child { margin-left: var(--sp-feat); margin-right: var(--sp-feat) !important; ; }

/* Pull top */
.pull-top-feat { position: relative; margin-top: calc(var(--sp-feat) * -1); z-index: 1; }
.pull-top-feat15 { position: relative; margin-top: calc(var(--sp-feat) * -1.5); z-index: 1; }
.pull-top-feat2 { position: relative; margin-top: calc(var(--sp-feat) * -2); z-index: 1; }
