/*---------------------------------------------------------------------------
04-02 Modals (MDL)
---------------------------------------------------------------------------*/

/* Full Screen Modal
-----------------------------------------------*/
@keyframes modalFadeIn{ 0% { opacity:0; } 100% { opacity:1; } }
.fullscrnmodal { display: none; position: fixed; z-index: 99999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto;  transition: var(--transitions); backdrop-filter: var(--backdropblur);  animation: modalFadeIn ease .25s;}
.fullscrnmodal-content { margin: auto; width: 100%; height: 100%; padding: var(--sp-base); display: flex; justify-content: center; flex-direction: column; }
.fullscrnmodal-content-container { margin: 0 auto; width: 100%; max-width: var(--gcw-max); }
.fullscrnmodal-content-container.fluid { width: 100%; max-width: 100%; margin: 0 auto; }

    @media only screen and (max-width: 799px){
      .fullscrnmodal-content { width: 100%; }
    }

/* Modal Close Button
-----------------------------------------------*/
.modal_close_btn svg { position: absolute; top: var(--sp-base); right: var(--sp-base); font-size: 4rem; transition: var(--transitions); cursor: pointer;}
.modal_close_btn svg:hover, .modal_close_btn svg:focus { text-decoration: none; opacity:.5; }

/* Modal Colors
-----------------------------------------------*/
:root {

    /* Hex Alpha Codes: 95% = F2, 90% = E6,  85% = D9, 80% = CC,  75% = BF, 70% = B3,  65% = A6, 60% = 99,  55% = 8C, 50% = 80,
                        45% = 73, 40% = 66,  35% = 59, 30% = 4D,  25% = 40, 20% = 33,  15% = 26, 10% = 1A,  5% = 0D */

    --modal_light-bkg: #ffffff;
    --modal_light-bkga: #ffffffe6;
    --modal_light-svgx: var(--clr-1);
    --modal_light-svgx-hover: var(--clr-1);

    --modal_dark-bkg: #000000;
    --modal_dark-bkga: #000000e6;
    --modal_dark-svgx: var(--clr-2);
    --modal_dark-svgx-hover: var(--clr-3);

}
.fullscrnmodal.modal_light { background-color: var(--modal_light-bkg); background-color: var(--modal_light-bkga); }
.modal_light .modal_close_btn svg { color: var(--modal_light-svgx); }
.modal_light .modal_close_btn svg:hover, .modal_light .modal_close_btn svg:focus { color: var(--modal_light-svgx-hover); }

.fullscrnmodal.modal_dark { background-color: var(--modal_dark-bkg); background-color: var(--modal_dark-bkga); }
.modal_dark .modal_close_btn svg { color: var(--modal_dark-svgx); }
.modal_dark .modal_close_btn svg:hover, .modal_dark .modal_close_btn svg:focus { color: var(--modal_dark-svgx-hover); }
